@model ChatMe.Models.User

@{
    ViewData["Title"] = "Witamy!";
}
<hr />
<div class="row">

    <div class="col-md-4">
        @if (ViewBag.failed)
        {
            <div class="alert error">
                Niepoprawne hasło!
            </div>
        }
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" type="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Zaloguj się</h2>
                    <div class="form-group">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="Login" required>
                        <label for="">Login</label>
                    </div>
                    <div class="form-group">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Hasło</label>
                    </div>
                    <div class="RememberMe">
                        <laber for=""><input type="checkbox">Zapamiętaj Mnie</laber>
                    </div>
                    <button>Zaloguj</button>
                    <div class="register">
                        <p>Nie masz konta? <a href="Users/Create">Dołącz teraz!</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
